
/* utiliser les fonts : 
font-family: 'Archivo Black', sans-serif;
font-family: 'Montserrat', sans-serif; */


:root {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: #A6554E;
  }

#home-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #home-section h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 100;
  color: floralwhite;
  justify-content: center;
  align-items: center;
}

#home-section h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 100;
  color: floralwhite;
}
